<template>
  <div>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <div v-if="weatherData">
      <WeatherContainer title="Current Weather" :data="weatherData.current"/>
      <p class="text-h4 text-center mt-8">Daily Forecast</p>
      <WeatherContainer class="mt-8" v-for="data in weatherData.daily" :key="data.dt" :title="formatDt(data.dt)" :data="data"/>
    </div>
  </div>
</template>

<script>
  import WeatherContainer from "../components/WeatherContainer";
  export default {
    name: 'Weather',
    components: {WeatherContainer},
    data() {
      return {
        weatherData: undefined,
        loading: false
      }
    },
    async created() {
      this.loading = true
      try {
        const request = await this.$axios.get('/weather/all')
        this.weatherData = request.data
      } catch(e) {
        console.error(e)
      }
      this.loading=false
    },
    methods: {
      formatDt(dt) {
        const date = new Date(0)
        date.setUTCSeconds(dt)
        return date.toDateString()
      }
    }
  }
</script>

<style>

</style>