<template>
  <v-app dark>
    <v-app-bar app color="primary" dark>
      <div @click="$router.push('/')" class="d-flex align-center" style="cursor: pointer;">
        <h1>Home Automation System</h1>
      </div>
    </v-app-bar>

    <v-main>
      <router-view v-if="validPassword"/>
      <h1 class="text-h1 text-center" v-else>INVALID PASSWORD!</h1>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: "App",

  created() {
    this.$vuetify.theme.dark = true
  },

  data: function(){
    return {
      password: this.$route.location && this.$route.location.query ? this.$route.location.query.password : undefined,
      needsPassword: false
    }
  },

  computed: {
    validPassword() {
      return (this.needsPassword && this.password === 'bananas are cool things, are they not?') || !this.needsPassword
    }
  }
};
</script>
