<template>
  <v-container style="height: 100%; width: 100%;">
    <SpotifyStateComponent :player="player" :ready="ready" :state="state"/>
  </v-container>
</template>

<script>
  import SpotifyStateComponent from "../components/SpotifyStateComponent";
  import {doAuthorisationRequest, fetchAccessToken, generateCodeVerifier, refreshToken} from "../auth";
  const ACCESS_TOKEN = 's-access_token'
  const REFRESH_TOKEN = 's-refresh_token'
  const EXPIRES_AT = 's-expires_at'
  export default {
    components: {SpotifyStateComponent},
    data() {
      return {
        player: undefined,
        state: undefined,
        ready: false
      }
    },
    async mounted() {
      const code = this.$route.query.code
      if (code && !window.localStorage.getItem(ACCESS_TOKEN)) {
        console.debug('Got code from spotify, requesting access token')
        window.localStorage.setItem('s-code', code)
        const data = (await fetchAccessToken(this, code, window.localStorage.getItem('verifier'))).data

        console.debug('Got access token from spotify', data)

        const expirationDate = new Date((new Date()).getTime() + data.expires_in*1000)
        await window.localStorage.setItem(ACCESS_TOKEN, data.access_token)
        await window.localStorage.setItem(REFRESH_TOKEN, data.refresh_token)
        await window.localStorage.setItem(EXPIRES_AT, expirationDate)
        console.debug('Filling cache with: ', {at: data.access_token, rt: data.refresh_token, expires: expirationDate})
      }
      await this.init()
    },
    destroyed() {
      if (this.player) {
        this.player.disconnect()
      }
    },
    methods: {
      async init() {
        window.onSpotifyWebPlaybackSDKReady = async () => {
          await this.initPlayer()
        };
        if (window.spotify) {
          await this.initPlayer()
        }
      },
      async initPlayer() {
        if (!this.player) {
          this.player = new Spotify.Player({ // eslint-disable-line no-undef
            name: 'HAS Player',
            getOAuthToken: callback => {
              // Run code to get a fresh access token
              this.getAccessToken().then((token) => {
                callback(token);
              })
            },
            volume: 1
          });
        }

        this.addListeners(this.player)

        const success = await this.player.connect()
        if (success) {
          console.log('The Web Playback SDK successfully connected to Spotify!');
          this.ready = true
        }
      },
      addListeners(player) {
        if (!player) {
          return
        }
        player.addListener('initialization_error', ({ message }) => { console.error('initialization_error', message); });
        player.addListener('authentication_error', ({ message }) => { console.error('authentication_error',message); });
        player.addListener('account_error', ({ message }) => { console.error('account_error', message); });
        player.addListener('playback_error', ({ message }) => { console.error('playback_error',message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { console.log('state', state); this.state=state; });

        // Ready
        player.addListener('ready', async ({ device_id }) => {
          console.log('Ready with Device ID', device_id);
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
          console.log('Device ID has gone offline', device_id);
        });
      },
      async doAuth() {
        const {code_challenge, code_verifier} = await generateCodeVerifier()
        window.localStorage.setItem('challenge', code_challenge)
        window.localStorage.setItem('verifier', code_verifier)
        await doAuthorisationRequest(this, code_challenge)
      },
      async getAccessToken() {
        console.debug('Getting access token')
        const access_token = window.localStorage.getItem(ACCESS_TOKEN)
        const expires_at = window.localStorage.getItem('s-expires_at')
        const refresh_token = window.localStorage.getItem(REFRESH_TOKEN)
        console.debug(expires_at, access_token, expires_at > (new Date()))
        if (refresh_token) {
          console.debug('Access token was invalid, refreshing')
          const data = (await refreshToken(this, refresh_token)).data
          console.log('data',data)
          window.localStorage.setItem(ACCESS_TOKEN, data.access_token)
          window.localStorage.setItem(REFRESH_TOKEN, data.refresh_token)
          return data.access_token
        } else {
          console.debug('No tokens were found in cache')
          await this.doAuth();
        }
      }
    }
  }
</script>
