<template>
  <v-container>
    <v-row justify="center">
      <v-col v-for="command in commandButtons" :key="command.name" cols="auto">
        <v-btn @click="sendCommand(command.endpoint)"
               width="400px" height="400px" class="display-1 command-image"
               :style="`background-image: linear-gradient(to bottom, rgba(232, 93, 4, 0.4), rgba(0, 0, 0, 0.6)), url('${command.image}') !important;`"
        >
          {{command.name}}
        </v-btn>
      </v-col>
    </v-row>
    <v-card>
      <v-card-text>
        <h3 class="text-h3 text-center">Set screen brightness</h3>
      </v-card-text>
      <v-container>
        <v-slider v-model="brightness" min="0" max="255" class="ml-16 mr-16"
                  :thumb-size="24"
                  thumb-label="always"/>
        <v-row justify="center">
          <v-col cols="auto">
            <v-btn color="primary"
                   @click="sendCommand(`/local-commands/set-brightness?brightness=${brightness}`)">
              Set brightness
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import Shutdown from '../assets/power-off.jpg'
import ScreenOff from '../assets/screen-off.jpg'
import ScreenOn from '../assets/screen-on.jpg'
const COMMAND_BUTTONS = [
  {
    name: 'Shutdown',
    endpoint: '/local-commands/shutdown',
    image: Shutdown
  },
  {
    name: 'Turn off screen',
    endpoint: '/local-commands/screen-off',
    image: ScreenOff
  },
  {
    name: 'Turn on screen',
    endpoint: '/local-commands/screen-on',
    image: ScreenOn
  }
]
export default {
  name: 'Commands',
  data() {
    return {
      brightness: undefined
    }
  },
  computed: {
    commandButtons() {
      return COMMAND_BUTTONS
    }
  },
  methods: {
    async sendCommand(endpoint) {
      await this.$axios.get(endpoint)
    }
  }
}
</script>

<style scoped>
  .command-image {
    background-position: center;
    background-size: cover;
  }
</style>