<template>
    <div class="container">
        <v-container class="pa-8">
            <v-row justify="center">
                <v-img max-width="25vw" :src="currentSongImage"/>
            </v-row>
            <h1 class="text-h4 text-center mt-4">{{currentSong.name}}</h1>
            <h2 class="text-h5 text-center mt-4" v-if="currentSong.artists">{{currentSong.artists.map(x => x.name).join(", ")}}</h2>
            <h2 class="text-h5 text-center mt-4" v-else>Stream to this device by opening Spotify and selecting this device</h2>
        </v-container>
        <div class="footer mt-8 mb-8" v-if="state && player">
            <div>
                <v-row justify="space-around" align="center" style="height: 100%;">
                    <v-col cols="auto">
                        <v-btn fab @click="() => player.previousTrack()">
                            <v-icon large>mdi-skip-previous</v-icon>
                        </v-btn>
                    </v-col>
                    <v-col cols="auto">
                        <v-btn fab @click="() => state.paused ? player.resume() : player.pause()">
                            <v-icon>{{state.paused ? 'mdi-play' : 'mdi-pause'}}</v-icon>
                        </v-btn>
                    </v-col>
                    <v-col cols="auto">
                        <v-btn fab @click="() => player.nextTrack()">
                            <v-icon large>mdi-skip-next</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row justify="space-around" align="center" style="height: 100%;">
                    <v-col cols="6">
                        <v-row justify="space-between">
                            <v-icon style="display: inline">
                                {{volume > 0.5 ? 'mdi-volume-high' : (volume > 0 ? 'mdi-volume-medium' : 'mdi-volume-low')}}
                            </v-icon>
                            <v-slider style="display: inline" v-model="volume" max="1" min="0" step="0.05"/>
                        </v-row>
                    </v-col>
                </v-row>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseStateImage from '../assets/base-state.jpg'
    export default {
        name: "CenterPane",
        props: {
            state: {
                type: Object,
                default: undefined
            },
            player: {
                type: Object,
                default: undefined
            }
        },
        data() {
            return {
                volume: 1
            }
        },
        async mounted() {
            this.volume = await this.player.getVolume()
        },
        computed: {
            currentSongImage() {
                if (!this.state || !this.player) {
                    return BaseStateImage
                }
                return this.state.track_window.current_track.album.images[0].url
            },
            currentSong() {
                if (!this.state || !this.player) {
                    return {
                        name: 'Nothing playing',
                        album: {name: ''},

                    }
                }
                return this.state.track_window.current_track
            }
        },
        watch: {
            volume(val) {
                this.player.setVolume(val)
            }
        }
    }
</script>

<style scoped>
.container {
    background-color: rgba(0,0,0,0.5);
}

    .footer {
        height: 100px;
        border-top: 1px solid whitesmoke;
    }
</style>