<template>
    <div class="right-pane-container" v-if="state">
        <div class="pa-4" v-for="track in state.track_window.previous_tracks" :key="track.id">
            <UpcomingTrackComponent :track="track"/>
        </div>
        <div class="pa-4">
            <UpcomingTrackComponent :track="state.track_window.current_track" now-playing/>
        </div>
        <div class="pa-4" v-for="track in state.track_window.next_tracks" :key="track.id">
            <UpcomingTrackComponent :track="track"/>
        </div>
    </div>
</template>

<script>
    import UpcomingTrackComponent from "./UpcomingTrackComponent";
    export default {
        name: "RightPane",
        components: {UpcomingTrackComponent},
        props: {
            state: {
                type: Object,
                default: undefined
            }
        }
    }
</script>

<style scoped>
.right-pane-container {
    background-color: rgb(42, 42, 42);
    max-height: 600px;
    overflow-y: scroll;
}
</style>