<template>
    <div style="height: 100%; width: 100%;">
        <transition name="fade">
            <div style="height: 100%; width: 100%;" v-if="ready">
                <v-row>
                    <v-col cols="12" md="8">
                        <CenterPane :state="state" :player="player"/>
                    </v-col>
                    <v-col cols="12" md="4">
                        <RightPane v-if="player" :state="state" :player="player"/>
                    </v-col>
                </v-row>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    import CenterPane from "./CenterPane.vue";
    import RightPane from "./RightPane.vue";

    export default Vue.extend({
        name: "SpotifyStateComponent",
        components: {RightPane, CenterPane},
        props: {
            state: {
                type: Object,
                default: undefined
            },
            player: {
                type: Object,
                required: true
            },
            ready: {
                type: Boolean,
                default: false
            }
        }
    })
</script>

<style scoped lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>