<template>
    <div class="container">
        <v-row align="center">
            <v-col cols="4">
                <v-img :src="track.album.images[0].url"/>
            </v-col>
            <v-col cols="8">
                <div>
                    <p class="text-h5 text-center">{{track.name}}</p>
                    <p class="text-h6 text-center">{{track.artists.map(x => x.name).join(", ")}}</p>
                    <v-progress-linear indeterminate v-if="nowPlaying"/>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: "UpcomingTrackComponent",
        props: {
            track: {
                type: Object,
                required: true
            },
            nowPlaying: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style scoped>
.container {
    background-color: rgba(0,0,0,0.9);
}
</style>