<template>
  <div class="text-center">
    <h1>QR Code</h1>
    <h2>Scan the code to go to the app on your phone/computer</h2>
    <img v-if="qrCodeUrl" :src="qrCodeUrl"/>
    <v-skeleton-loader type="image" v-else/>
  </div>
</template>

<script>
  export default {
    name: 'QRCode',
    data() {
      return {
        qrCodeUrl: undefined
      }
    },
    async created() {
      const request = await this.$axios.get('/qr/qr-code', {
        responseType: 'blob'
      })
      const data = request.data
      this.qrCodeUrl = URL.createObjectURL(data);
    }
  }
</script>

<style>

</style>
