<template>
    <v-card class="mx-auto" max-width="800px">
        <v-card-text>
            <v-row align="center">
                <v-col>
                    <h4 class="text-h4">{{title}}</h4>
                    <h5 class="text-h5">{{data.weather[0].main}}: {{data.weather[0].description}}</h5>
                </v-col>
                <v-col cols="auto">
                    <v-row class="pr-8">
                        <div class="mr-8">
                            <i class="fas fa-arrow-up fa-icon large" :style="`transform: rotate(${data.wind_deg}deg)`"/>
                            <p class="text-h5 text-center">{{windString(data.wind_deg)}}</p>
                        </div>
                        <div class="icon-container">
                            <img class="large-icon icon" :src="iconToUrl(data.weather[0].icon)"/>
                        </div>
                    </v-row>
                </v-col>
            </v-row>
            <v-row justify="space-between" align="center"  v-if="!isMultiTemp">
                <v-col cols="12" md="6">
                    <v-row align="center">
                        <v-col cols="auto">
                            <h5 class="text-h5">
                                Temperature: <span class="text-h4">{{data.temp.toFixed(1)}}</span> °C
                            </h5>
                        </v-col>
                        <v-col>
                            <i :class="`fas fa-${thermometerIcon(data.temp)} fa-icon`"/>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" md="6">
                    <v-row align="center">
                        <v-col cols="auto">
                            <h5 class="text-h5">Feels like: <span class="text-h4">{{data.feels_like.toFixed(1)}}</span> °C</h5>
                        </v-col>
                        <v-col>
                            <i :class="`fas fa-${thermometerIcon(data.feels_like)} fa-icon`"/>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" md="6">
                    <v-row align="center">
                        <v-col cols="auto">
                            <h5 class="text-h5">
                                Wind Speed: <span class="text-h4">{{data.wind_speed.toFixed(1)}}</span> m/s
                            </h5>
                        </v-col>
                        <v-col>
                            <i v-if="data.wind_speed > 50" :class="`fas fa-wind fa-icon`"/>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" md="6">
                    <v-row align="center">
                        <v-col cols="auto">
                            <h5 class="text-h5">
                                Humidity: <span class="text-h4">{{data.humidity.toFixed(1)}}</span> %
                            </h5>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row v-else>
                <v-col cols="12" md="6" v-for="obj in tempData(data.temp)" :key="obj.name">
                    <v-row align="center">
                        <v-col cols="auto">
                            <h5 class="text-h5">
                                {{obj.name}}: <span class="text-h4">{{obj.value.toFixed(1)}}</span> °C
                            </h5>
                        </v-col>
                        <v-col>
                            <i :class="`fas fa-${thermometerIcon(obj.value)} fa-icon`"/>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
const THERMOMETER_MAPPING = (temperature) => {
    if (temperature < -5) {
        return 'temperature-low'
    }
    if (temperature < 5) {
        return 'thermometer-empty'
    }
    if (temperature < 10) {
        return 'thermometer-quarter'
    }
    if (temperature < 15) {
        return 'thermometer-half'
    }
    if (temperature < 20) {
        return 'thermometer-three-quarters'
    }
    if (temperature < 30) {
        return 'thermometer-full'
    }
    return 'temperature-high'
}

const WIND_MAPPING = (deg) => {
    const VERTICAL = ['N', 'N', '', 'S', 'S', 'S', '', 'N']
    const HORIZONTAL = ['', 'E', 'E', 'E', '', 'W','W','W']
    return VERTICAL[Math.floor(deg / 90)] + HORIZONTAL[Math.floor((deg-45)/90)]
}

const tempKeyStringMapping = (tempData) => {
    return [
        {name: 'Morning', value: tempData.morn},
        {name: 'Day', value: tempData.day},
        {name: 'Evening', value: tempData.eve},
        {name: 'Night', value: tempData.night},
    ]
}

export default {
    name: "WeatherContainer",
    props: {
        data: {
            type: Object,
            required: true
        },
        title: {
            type: String,
            default: 'Weather'
        }
    },
    methods: {
        iconToUrl(icon) {
            return `http://openweathermap.org/img/wn/${icon}@2x.png`
        },
        thermometerIcon(temperature) {
            return THERMOMETER_MAPPING(temperature)
        },
        windString(wind) {
            return WIND_MAPPING(wind)
        },
        tempData(tempData) {
            return tempKeyStringMapping(tempData)
        }
    },
    computed: {
        isMultiTemp() {
            return !!this.data.temp.morn;
        }
    }
}

/*
current.dt Current time, Unix, UTC
current.sunrise Sunrise time, Unix, UTC
current.sunset Sunset time, Unix, UTC
current.temp Temperature. Units - default: kelvin, metric: Celsius, imperial: Fahrenheit. How to change units used
current.feels_like Temperature. This temperature parameter accounts for the human perception of weather. Units – default: kelvin, metric: Celsius, imperial: Fahrenheit.
current.pressure Atmospheric pressure on the sea level, hPa
current.humidity Humidity, %
current.dew_point AAtmospheric temperature (varying according to pressure and humidity) below which water droplets begin to condense and dew can form. Units – default: kelvin, metric: Celsius, imperial: Fahrenheit.
current.clouds Cloudiness, %
current.uvi UV index
current.visibility Average visibility, metres
current.wind_speed Wind speed. Wind speed. Units – default: metre/sec, metric: metre/sec, imperial: miles/hour. How to change units used
current.wind_gust (where available) Wind gust. Units – default: metre/sec, metric: metre/sec, imperial: miles/hour. How to change units used
current.wind_deg Wind direction, degrees (meteorological)
current.rain
current.rain.1h (where available) Rain volume for last hour, mm
current.snow
current.snow.1h (where available) Snow volume for last hour, mm
current.weather
current.weather.id Weather condition id
current.weather.main Group of weather parameters (Rain, Snow, Extreme etc.)
current.weather.description Weather condition within the group (full list of weather conditions). Get the output in your language
current.weather.icon Weather icon id. How to get icons
 */
</script>

<style scoped>
.icon {
    border-radius: 100%;
    border: 2px solid whitesmoke;
    background-color: rgba(0,0,0,0.2);
}

.large-icon {
    width: 100px;
    height: 100px;
}

.icon-container {
}

.fa-icon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 64px;
}

    .large {
        font-size: 100px;
    }
</style>