<template>
  <v-container>
    <v-row justify="center" align="center">
      <v-col cols="auto" v-for="plugin in plugins" :key="plugin.name">
        <v-btn class="display-1"
               :style="plugin.image ? `background-image: linear-gradient(to bottom, rgba(232, 93, 4, 0.4), rgba(0, 0, 0, 0.6)), url('${plugin.image}') !important;` : ''"
               color="primary" :class="{'plugin-image': plugin.image}" @click="$router.push(plugin.path)" width="400px" height="400px">{{plugin.name}}</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      plugins: this.$plugins
    }
  }
};
</script>

<style scoped>
.plugin-image {
  background-position: center;
  background-size: cover;
}
</style>
